<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{_("Munich bicycle counter")}}</title>
</head>
<body>
<h1>{{_("Munich bicycle counter")}}</h1>
<p>{{ _("This page shows the data of the bicycle counter places of Munich as graph. Here you can find the original
    data") }}: <a href="https://www.opengov-muenchen.de" target="_blank">https://www.opengov-muenchen.de</a></p>
<p>Datenquelle: <a href="https://www.govdata.de/dl-de/by-2-0" target="_blank">dl-de/by-2-0</a>: Landeshauptstadt München
    – www.opengov-muenchen.de</p>

<form action="{{ url_for('index') }}" method="post" autocomplete="off">
    <p>{{ _('Choose the type of period') }}:</p>
    <fieldset>
        <!--            <input type="radio" id="yearly" name="period" value="Yearly" {{'checked' if values.period == 'Yearly' else false}}>-->
        <!--            <label for="yearly"> Yearly</label>-->
        <input type="radio" id="monthly" name="period" value="Monthly"
               {{'checked' if values.period == 'Monthly' else false}}>
        <label for="monthly"> {{ _('Monthly')}}</label>
        <input type="radio" id="daily" name="period" value="Daily"
               {{'checked' if values.period == 'Daily' else false}}>
        <label for="daily"> {{ _('Daily')}}</label>
        <input type="radio" id="hourly" name="period" value="Hourly"
               {{'checked' if values.period == 'Hourly' else false}}>
        <label for="hourly"> {{ _('Hourly')}}</label>
        <!--            <input type="radio" id="weekly" name="period" value="Weekly" {{'checked' if values.period == 'Weekly' else false}}>-->
        <!--            <label for="weekly"> Weekly (only Average)</label>-->
        <!--        <input type="radio" id="weekday" name="period" value="Weekday" {{'checked' if values.period == 'Weekday' else false}}>-->
        <!--        <label for="weekday"> {{ _('Weekday (only Average)')}}</label>-->
    </fieldset>
    <p>{{ _('Choose the location')}}:</p>
    <fieldset>
        <input type="radio" id="all" name="location" value="All"
               {{'checked' if values.location == 'All' else false}}>
        <label for="all"> {{ _('All')}}</label>
        {% for location in values.locations %}
        <input type="radio" id="{{location}}" name="location" value="{{location}}"
               {{'checked' if values.location == location else false}}>
        <label for="{{location}}"> {{_(location)}}</label>
        {% endfor %}
    </fieldset>
    <p>{{ _('Choose the type')}}:</p>
    <fieldset>
        <input type="radio" id="normal" name="graph_type" value="Normal"
               {{'checked' if values.graph_type == 'Normal' else false}}>
        <label for="normal"> {{ _('Normal')}}</label>
        <!--            <input type="radio" id="cumulated" name="graph_type" value="Cumulated" {{'checked' if values.graph_type == 'Cumulated' else false}}>-->
        <!--            <label for="cumulated"> Cumulated</label>-->
        <!--        <input type="radio" id="average" name="graph_type" value="Average" {{'checked' if values.graph_type == 'Average' else false}}>-->
        <!--        <label for="average"> {{ _('Average')}}</label>-->
    </fieldset>
    <p>{{ _('Pick a date range')}}:</p>
    <fieldset>
        <label for="start">{{ _('From')}}:</label>
        <input type="date" id="start" name="start"
               value="{{ values.start }}"
               min="{{ values.min_start }}" max="{{ values.max_end }}">
        <label for="end">{{ _('To')}}:</label>
        <input type="date" id="end" name="end"
               value="{{ values.end }}"
               min="{{ values.min_start }}" max="{{ values.max_end }}">
    </fieldset>
    <p>{{ _('Choose the plots')}}:</p>
    <fieldset>
        <input type="checkbox" id="cyclists" name="cyclists" value=True default=True
               {{'checked' if values.cyclists == true else false}}>
        <label for="cyclists"> {{ _('Cyclists')}}</label>
        <input type="checkbox" id="min_temp" name="min_temp" value=True default=True
               {{'checked' if values.min_temp == true else false}}>
        <label for="min_temp"> {{ _('Min Temperature')}}</label>
        <input type="checkbox" id="max_temp" name="max_temp" value=True default=True
               {{'checked' if values.max_temp == true or values.max_temp == None else false}}>
        <label for="max_temp"> {{ _('Max Temperature')}}</label>
    </fieldset>
    <button type="submit" name="action" id="calculate">{{ _('Show Graph')}}</button>
</form>

{% if (values.period is not none and values.start is not none and values.end is not none )%}
<img src="{{ url_for('weather', values=values) }}" alt="graph">
{% endif %}


<p>{{ _('This website is still under construction. The code is under')}} <a
        href="https://gitlab.com/Golwarn/munich_bicycle/-/blob/master/LICENSE" target="_blank">MIT-{{ _('License')}}</a>.
    {{ _('You can find the code here')}}: <a href="https://gitlab.com/Golwarn/munich_bicycle" target="_blank">https://gitlab.com/Golwarn/munich_bicycle</a>
</p>
<p>{{ _('For questions please write me an email')}}: golwarn@gmail.com</p>
<p>{{ _('Version')}}: 0.5.20211005</p>
<p>{{ _('No data will be collected, no cookies will be set')}}</p>
</body>
</html>